*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: monospace, sans-serif;
  color: #F8E03D;
  width: 100%;
  overflow: hidden;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: rgb(64, 66, 80);
}

.main__screen {
  background-color: #1e1e1e;
  width: 90%;
  min-width: 600px;
  max-width: 900px;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-top: 40px solid rgb(16, 16, 16);
  border-left: 25px solid rgb(16, 16, 16);
  border-right: 25px solid rgb(16, 16, 16);
  border-bottom: 40px solid rgb(16, 16, 16);
  border-radius: 3px;
  position: relative;
}
.panel__header {
  position: absolute;
  left: -25px;
  top: -72px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.panel__footer {
  position: absolute;
  right: -25px;
  bottom: -76px;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.75rem;
  color: whitesmoke;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

button {
  font-family: inherit;
  font-size: 1rem;
}

/* Main Bottom */
.main__screen--bottom {
  width: 100%;
}

.top__btns {
  width: 100%;
  display: flex;
  gap: 0.1em;
  background-color: #EFEFEF;
  padding: 0.15em 0.15em 0.05em 0.15em;
}
.top__btns button {
  width: max-content;
  flex: 1;
}
.top__btns .speed__controlers {
  display: flex;
  flex: 1;
  gap: 0.075em;
}
.top__btns .speed__controlers > button {
  padding: 2em 1em;
}
.speed__controlers .btn__minus {
  width: 50px;
  height: 10px;
  background: #1e1e1e;
}
.speed__controlers .btn__plus {
  width: 50px;
  height: 10px;
  background: #1e1e1e;
  position: relative;
  display: grid;
  place-items: center;
}
.speed__controlers .btn__plus:after {
  content: '';
  position: absolute;
  width: 45px;
  height: 10px;
  background: #1e1e1e;
  transform: rotate(90deg);
}
.speed__controlers--indicator {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.075em;
}
.speed__controlers--indicator > p {
  text-align: right;
  width: 100%;
  display: flex;
  justify-content: center;
  flex: 1;
  background: #EFEFEF;
  border: 1px solid rgb(50, 50, 50);
  color: #1e1e1e;
  padding: 5px;
}
.speed__controlers--indicator > input {
  box-sizing: border-box;
  padding: 3px 5px;
  text-align: right;
  font-family: inherit;
  font-size: 2rem;
  max-width: 125px;
  height: 32px;
  background: #1e1e1e;
  margin: 0.15em 0.3em;
}

/* Mid Buttons */
.mid__btns {
  width: 100%;
  display: flex;
  gap: 0.1em;
  background-color: #f0e8af;
  padding: 0 0.15em 0 0.15em;
}
.mid__btns > button {
  display: flex;
  justify-content: center;
  font-family: inherit;
  text-align: center;
}
.mid__btns--lft {
  width: 75%;
}
.mid__btns--cntr {
  width: 25%;
}