*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

.main__screen {
  width: 100%;
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
